#mySite {
	background-color: black;
}

.navbar-default {
  background-color: black;
  background-image: none;
  background-repeat: no-repeat;
 }

.jumbotron {
	background-image: url("http://andyaustinphoto.com/img/s/v-3/p1499015372-5.jpg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: black;


h1{
	margin: 50px 50px 50px 50px;
}

#leftFirstContent{
	background-color: #FF5050;
	background-size: 80px 60px;
}

}
#Montana{
	color: #f8f8ff; 
}
#MontanaCodeSchoolLine{
	margin-bottom: 50px;
}
#firstRow{
	height: 300px;
	width: 1000px;
}

#Ride{
	height: 300px;
	width: 300px;
}
#Flag{
	height: 300px;
	width: 700px;
	vertical-align: center;
}

#bigBird {
	float: left;
}
#topLeftPic {
	margin-left: 15px;
}

#secondRow {
	margin-top: 50px;

}

#secondColumn {
	text-align: center;
	padding-left: 100px;

}

#codeSchoolHeading {
	text-align: center;
	text-decoration: underline;
	font-family: Impact;
	font-size: 65px;
	margin: 50px auto auto auto;
	
	
}

#footer {
	margin: 50px;
	text-align: center;
}


