<html>

<title>JavaStreet</title>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="./MySiteMain.css">
</head>

<body class="mySite">


<nav class="navbar navbar-default navbar-fixed-top" style="border-bottom: 1px solid #696969;">
  <div class="container-fluid" style="border-style: none;">
    <div class="navbar-header" style="border-style: none;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
       </button>
      <a class="navbar-brand" id="javaStreetNav" href="/"></a>
    </div>

        <ul class="nav navbar-nav navbar-right" style="margin-right: 50px; border-style: none;">
          <li><a style="width: 100px; text-align: center;" href="/blog" id="bioButton">Raps</a>
          </li>
          <li><a style="width: 100px; text-align: center;" href="/bio.html" id="bioButton">Bio</a>
          </li>
          <li><a style="width: 100px; text-align: center;" href="/login" id="bioButton">Sign In</a>
        </li>
        </ul>
    </div>
</nav>

<!-- ************************* Start of Blog *************************  -->
<div class="container-fluid">
	<section id="blogList"></section>
 </div>       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
         <script type="text/jsx" src="/js/app.js"></script>
         
</body>

</html>