<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<!-- ****************************  NAVIGATION **************************** -->

<nav class="navbar navbar-default navbar-fixed-top" style="border-bottom: none;">
  <div class="container-fluid" style="border-style: none;">
    <div class="navbar-header" style="border-style: none;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
       </button>
      <a class="navbar-brand" id="javaStreetNav" href="/"></a>
    </div>

        <ul class="nav navbar-nav navbar-right" style="margin-right: 50px; border-style: none;">
          <li><a style="width: 100px;" href="/blog" id="bioButton">Raps</a>
          </li>
        <ul class="nav navbar-nav navbar-right" style="border-style: none;">
          <li><a style="width: 100px;" href="/login" id="bioButton">Log-In</a>
        </li>
        </ul>
    </div>
</nav>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
